<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">MinDataChallenge</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav [mode]="'side'" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item [href]="'/home'">Home</a>
      <a mat-list-item [href]="'/hero'">Hero</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="minheight">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>